.meals-summary {
  position: relative;
  color: white;
  padding: 20px;
  width: 800px;
  max-width: 50%;
  margin: -100px auto auto;
  text-align: center;
  font-size: larger;
  background-color: rgb(50, 50, 50);

  * {
    padding: 5px;
  }
}
