.meals {
  background-color: white;
  width: 75%;
  margin: 50px auto;
}

.meals-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 30px;
  border-bottom: 1px solid #3333334d;

  .meals-item-info {
    * {
      margin: 2px;
    }

    h3 {
      color: brown;
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }
  }

  .meals-item-form {
    text-align: center;

    * {
      margin: 5px;
    }

    button {
      color: white;
      width: 100px;
      background-color: brown;
      border-radius: 10px;
      padding: 8px 0;
      @include easeOut;

      &:hover {
        @include btnHover;
      }
    }
  }
}
